{% extends 'base.html' %}

{% block content %}

<script src="https://js.stripe.com/v3/"></script>
<!-- <style>
</style>
 --><div class='col-10 col-md-6 mx-auto'>
 	<div class='stripe-payment-form' data-token='{{ publish_key }}' data-next-url='{% if next_url %}{{ next_url }}{% endif %}' data-btn-title='Add New Card'></div>

 	<!-- we will use a javascript package called jsrender
 -->


{% endblock %}






































<!-- {% block javascript %}
 --><!-- verbatim ignore every django template tag
 -->
<!-- verbatim blocj included in js.templates.html

<script>

</script>

{% endblock %} -->